<p id="notice"><%= notice %></p>

<div class="conteiner">
<!-- 追加するコード-->
<% if @post.image? %>  <!-- アップロード画像がある場合に実行する -->
  <p>
    <%= image_tag @post.image.url %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
  </p>
<% end %>
<!-- ここまで -->

<p>
  <%= @post.text %>
</p>
  <div class="like_1">
    <h3>いいね件数: <%= @post.likes.count %></h3>
      <% if current_user.already_liked?(@post) %>
        <%= button_to 'いいねを取り消す', post_like_path(@post), method: :delete %>
      <% else %>
        <%= button_to 'いいね', post_likes_path(@post) %>
      <% end %>
    <h2>いいねしたユーザー</h2>
        <% @post.liked_users.each do |user| %>
    <li><%= user.email %></li>
      <% end %>


<%
=begin%>
コメント
<%
=end%>
  <%= form_for [@post, @comment] do |f| %>
  <%= f.text_area :comment, size: "40x5" %>
  <%= f.submit '送信', class: "btn-sm btn-primary" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>コメント投稿者</th>
      <th>コメント内容</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user.name %></td>
        <td><%= comment.comment %></td>
        <td><%= link_to "削除", post_comment_path(@post, comment), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%
=begin%>
 ここまで
<%
=end%>



    <%= link_to '編集', edit_post_path(@post) %> |
    <%= link_to '戻る', posts_path %>
  </div>
</div>
