<p id="notice"><%= notice %></p>

<!-- 追加するコード-->
<% if @post.image? %>  <!-- アップロード画像がある場合に実行する -->
  <p>
    <%= image_tag @post.image.url %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
  </p>
<% end %>
<!-- ここまで -->

<p>
  <%= @post.text %>
</p>

<%= link_to '編集', edit_post_path(@post) %> |
<%= link_to '戻る', posts_path %>
